<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Menu</title>
</head>

<body>

	<h1>Food Menu</h1>
	
	<% menu.forEach(menu => { %>
			
			    
		<p> <%= menu.name %> <p>
				
        <a href="/menu/<%= menu.id%>"> <img src=<%= menu.img %></a>
				
		<p> Price :<%= menu.price %> </p>
				
		<% }) %>

        <nav>
            <a href="/menu/new">Add a new Item</a>
        </nav>
    
	
</body>

</html>